/*===========================================================================*/
/*          Copyright © 2016-2017. APCON, Inc. All Rights Reserved.          */
/*===========================================================================*/

a-iframe {
    height  : 100%;
    left    : 200%;
    position: absolute;
    top     : 200%;
    width   : 100%;

    &.visible {
        left: 0;
        top : 0;
    }
}

/*===========================================================================*/
/*          Copyright © 2016-2017. APCON, Inc. All Rights Reserved.          */
/*===========================================================================*/
