menu {
    display : none;
    padding : 0;
    margin  : 0;
    position: absolute;

    .menu-label-div {
        font-size: $menu-item-font-size;
        width    : 100%;
    }

    &.expanded {
        display: inline-table;
    }

    .menu {
        background-color: $menu-background-color;
        border          : $menu-border;
        display         : inline-grid;
        list-style      : none;
        margin          : 0;
        padding         : 0;
        width           : 100%;

        .menu-item {
            background   : $menu-item-background;
            border-bottom: $menu-border;
            height       : $menu-item-height;
            line-height  : $menu-item-height;
            margin       : 0;
            text-align   : left;

            &:last-of-type {
                border-bottom: none;
            }

            .menu-item-label {
                color      : $menu-color;
                float      : left;
                height     : $menu-item-height;
                line-height: $menu-item-height;
                padding    : $menu-item-padding;
                width      : 100%;

                &:hover {
                    color     : $menu-hover-color;
                    transition: color .2s;
                }

                &.active {
                    color: $menu-hover-color;
                }

                label {
                    display   : inline-block;
                    text-align: left;
                    width     : 100%;
                }
            }
        }
    }

    &.submenu {
        width: 100%;
    }
}
