menu {
    box-sizing: border-box;
    display   : none;
    padding   : 0;
    margin    : 0;
    position  : absolute;

    .menu-label-div {
        width: 100%;
    }

    &.expanded {
        display: inline-table;
    }

    .menu {
        background-color : $menu-background-color;
        border           : $menu-border;
        box-sizing       : border-box;
        display          : inline-grid;
        list-style       : none;
        margin           : 0;
        padding          : 0;
        width            : 100%;

        $menu-item-height: 25px;

        .menu-item {
            background   : $menu-item-background;
            border-bottom: $menu-border;
            box-sizing   : border-box;
            line-height  : $menu-item-height;
            margin       : 0;
            text-align   : left;

            &:last-of-type {
                border-bottom: none;
            }

            .menu-item-label {
                box-sizing : border-box;
                float      : left;
                line-height: $menu-item-height;
                padding    : 0 10px 0 20px;
                width      : 100%;

                &:hover {
                    color     : $menu-hover-color;
                    transition: color .2s;
                }

                &.active {
                    color: $menu-hover-color;
                }

                label {
                    display   : inline-block;
                    text-align: left;
                    width     : 100%;
                }
            }
        }
    }

    &.submenu {
        width: 100%;
    }
}
