<div class="menu-div">
    <ul class="menu">
        <li class="menu-item" *ngFor="let m of _model; let i=index" (click)="_onClick(m, $event)" (mouseover)="_toggleMenu($event, m, true)" (mouseout)="_toggleMenu($event, m, false)">
            <label class="menu-item-label" [class.expanded]="m.expanded">{{ m.label }}</label>
            <div class="submenu-div" *ngIf="m.items && (expandChildren || (m.items.length>0))">
                <menu class="submenu" [class.expanded]="expandChildren || m.expanded" [model]="m.items" (menuClick)="_onClick($event)"></menu>
            </div>
        </li>
    </ul>
</div>
