site-map {
    .site-map-div {
        margin: $site-map-margin;

        .site-map-links {
            border : $site-map-links-border;
            display: inline-grid;
            margin : $site-map-links-margin;
            width  : 100%;

            &:first-of-type {
                margin-top: $vgap;
            }

            &:last-of-type {
                margin: 0;
            }

            .site-map-link {
                background    : $site-map-link-background;
                cursor        : pointer;
                display       : inline-block;
                height        : $site-map-link-height;
                line-height   : $site-map-link-height;
                padding-left  : 10px;
                text-transform: capitalize;
                transition    : color .2s;

                &:hover {
                    background-color: $site-map-link-hover-background-color;
                    color           : $site-map-link-hover-color;
                }
            }

            .link {
                text-transform: capitalize;

                span {
                    cursor     : pointer;
                    display    : inline-block;
                    line-height: 1.75em;
                    transition : color .2s;
                    width      : 100%;

                    &:hover {
                        background-color: $site-map-link-hover-background-color;
                        color           : $site-map-link-hover-color;
                    }
                }
            }

            .site-map-1 {
                background-color: #f1f1f1;
                border-top      : $site-map-links-border;
                padding         : 10px 15px;
                width           : 100%;

                .site-map-2 {
                    padding-left: 15px;
                }
            }
        }
    }
}
