project-info-modal {
    clr-modal {
        .modal-dialog {
            &.modal-lg {
                height   : 95%;
                max-width: 1030px;
                width    : 95%;
            }

            .modal-outer-wrapper {
                .modal-content-wrapper {
                    height: 100%;

                    .modal-content {
                        height  : 100%;
                        position: relative;

                        .modal-header {
                            display: none;
                        }

                        .modal-body {
                            @include abs-position(24px, 24px, 90px, 24px);
                            max-height: unset;
                            overflow  : hidden;
                            padding   : 40px 0 0;

                            .info-div {
                                margin   : 0 auto;
                                max-width: 830px;
                                width    : 100%;
                            }

                            .images-div {
                                background: red;
                                height    : 60%;
                            }

                            .details-div {
                                height  : 40%;
                                position: relative;

                                form {
                                    @include abs-position(0, 0, unset, 0);
                                    border-bottom: 1px solid $white;
                                    margin-bottom: $hgap_;

                                    .form-group {
                                        margin-bottom: 0;

                                        & > label:first-child {
                                            color: $white;
                                        }
                                    }
                                }

                                .description-div {
                                    @include abs-position(130px, 0, 0, 0);
                                    overflow: auto;
                                }
                            }
                            @media only screen and (max-width: 544px) {
                                .details-div,
                                .images-div {
                                    height: 50%;
                                }

                                .details-div {
                                    .form-group {
                                        margin-bottom: $vgap_;
                                        width        : 100%;

                                        label,
                                        span {
                                            display: inline-block;
                                            flex   : unset;
                                            margin : 0;
                                            top    : 0;
                                            width  : 50%;
                                        }
                                    }
                                }
                            }
                        }

                        .modal-footer {
                            @include abs-position(unset, 0, $vgap_, 0);
                        }
                    }
                }
            }
        }
        // @extend %project-info-scss;
        // @extend %project-info-scss-1000;
        // @extend %project-info-scss-700;
    }
}
