project-info-modal {
    @include modal-scss();

    .info-div {
        .slick-list {
            .slick-track {
                height: 100%;

                .slick-slide {
                    & > div {
                        height: 100%;
                    }
                }
            }
        }
    }

    .project-unit {
        &:not(:last-of-type) {
            &:after {
                content: ',';
            }
        }
    }
}
