<clr-modal #modal [clrModalSize]="'lg'" [clrModalClosable]="true" (click)="_onClick($event)">
    <div class="modal-body" *ngIf="project">
        <div class="info-div images-div">
            <img *ngFor="let i of project.images" [attr.data-lazy]="i" />
        </div>
        <div class="info-div details-div">
            <form>
                <section>
                    <div class="form-group">
                        <label>{{ this | getString : 'name' : 'Name' }}:</label>
                        <span>{{ project.title }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ this | getString : 'units' : 'Units' }}:</label>
                        <span>{{ project.units }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ this | getString : 'equipment' : 'Equipment' }}:</label>
                        <span>{{ project.equipment }}</span>
                    </div>
                </section>
            </form>
            <div class="description-div">{{ project.description }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="_close();">{{ this | getString : 'close' : 'Close' }}</button>
    </div>
</clr-modal>
