mrl {
    .mrl-div {
        padding: $vgap $hgap 0;

        .mrl-item-div {
            ul {
                margin: $vgap_ 0 $vgap_ $hgap;
            }

            p {
                margin: $vgap_ 0 $vgap_ $hgap;
            }
        }
    }
}
