<div #slides class="home-slides-div" [style.height.px]="_slideHeight" (window:resize)="_onResize($event)">
    <!-- <div class="slides-div" [class.sliding]="_sliding" [style.left.%]="_sliding? -100 : 0" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth * _slideItems.length"> -->
    <div class="slides-div" [class.sliding]="_sliding" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth * _slideItems.length">
        <div class="slide-div" *ngFor="let s of _slideItems" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth">
            <div class="slide" [ngSwitch]="s.type">
                <ng-template [ngSwitchCase]="_mediaType.IMAGE">
                    <div #slide class="slide-image" [style.background-image]="'url('+s.url+')'" [width]="_slideWidth" [height]="_slideHeight"></div>
                </ng-template>
                <ng-template [ngSwitchCase]="_mediaType.VIDEO">
                    <video [width]="_slideWidth" [height]="_slideHeight" controls (play)="_stopTimer()">
                        <source [src]="s.url"> Your browser does not support the video tag.
                    </video>
                </ng-template>
                <ng-template ngSwitchDefault></ng-template>
            </div>
        </div>
    </div>
    <div class="slides-bg-div" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth"></div>
</div>
