home {
    width: 100%;

    .header {
        text-align: center;
    }

    .home-slides-div {
        background-color: lightgrey;
        overflow        : hidden;
        position        : relative;
        width           : 100%;

        .slides-bg-div {
            box-shadow    : $home-slides-box-shadow;
            pointer-events: none;
            position      : absolute;
        }

        .slides-div {
            display   : inline-flex;
            left      : 0;
            position  : absolute;
            transition: all 0;

            &.sliding {
                transition: left $home-slides-transition-duration;
            }

            .slide {
                height: 100%;
                width : 100%;

                .slide-image {
                    background-position: center;
                    background-repeat  : no-repeat;
                    background-size    : 100%;
                    height             : 100%;
                    width              : 100%;
                }

                video {
                    background-color: $video-background-color;
                }
            }
        }
    }

    .home-div {
        .home-menu-div {
            display: inline-flex;
            width  : 100%;

            pro-menu,
            sys-menu {
                margin: 0 auto;
            }
        }
    }
}
