<h2>{{ this | getString: 'system-solutions': 'System Solutions' }}</h2>
<div #slides class="home-slides-div" [style.height.px]="_slideHeight" (window:resize)="_onResize($event)">
    <div class="slides-div" [class.sliding]="_sliding" [style.left.%]="_sliding? -100 : 0" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth * _slides.length">
        <div class="slide-div" *ngFor="let s of _slides" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth">
            <img [src]="s.url" [height]="_slideHeight" [width]="_slideWidth" />
        </div>
    </div>
    <div class="slides-bg-div" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth"></div>
</div>
