<div #slides class="home-slides-div" [style.height.px]="_slideHeight" (window:resize)="_onResize($event)">
    <div class="slides-div" [class.sliding]="_sliding" [style.left.%]="_sliding? -100 : 0" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth * _slides.length">
        <div class="slide-div" *ngFor="let s of _slides" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth">
            <img [src]="s.url" [height]="_slideHeight" [width]="_slideWidth" />
        </div>
    </div>
    <div class="slides-bg-div" [style.height.px]="_slideHeight" [style.width.px]="_slideWidth"></div>
</div>
<div class="home-div content-div">
    <h3 class="header">{{ this | getString: 'systems': 'Systems' }}</h3>
    <div class="home-menu-div">
        <ul class="home-menu-items">
            <li class="link home-menu-item" *ngFor="let m of _sysMenu">
                <div [attr.class]="'home-menu-item-icon ' + m.icon" (click)="_onSysMenuClick(m, $event)"></div>
                <div class="home-menu-item-label" (click)="_onSysMenuClick(m, $event)" (mouseout)="m.expanded=false" (mouseover)="m.expanded=true">
                    <label>{{ m.label }}</label>
                    <menu [class.expanded]="m.expanded" [model]="m.items" (menuClick)="_onSysMenuClick($event)" (showSubMenu)="_showSubMenu($event)"></menu>
                </div>
            </li>
        </ul>
    </div>
    <h3 class="header">{{ this | getString: 'industry-professional-resources': 'Industry Professional Resources' }}</h3>
    <div class="home-menu-div">
        <ul class="home-menu-items">
            <li class="link home-menu-item" *ngFor="let m of _proMenu" (click)="onMenuClick(m, $event)">
                <div class="home-menu-item-icon"></div>
                <div class="home-menu-item-label">
                    <label>{{ m.label }}</label>
                </div>
            </li>
        </ul>
    </div>
</div>
