home {
    width: 100%;

    .header {
        text-align: center;
    }

    .home-slides-div {
        background-color: lightgrey;
        overflow        : hidden;
        position        : relative;
        width           : 100%;

        .slides-bg-div {
            box-shadow: $home-slides-box-shadow;
            position  : absolute;
        }

        .slides-div {
            display   : inline-flex;
            left      : 0;
            position  : absolute;
            transition: all 0;

            &.sliding {
                transition: left $home-slides-transition-duration;
            }
        }
    }

    .home-div {
        .home-menu-div {
            display: inline-flex;
            width  : 100%;

            .home-menu-items {
                display   : $home-menu-display;
                list-style: none;
                margin    : 0 auto;

                .home-menu-item {
                    border      : $home-menu-border;
                    float       : left;
                    height      : $home-menu-item-height;
                    margin-right: 20px;
                    width       : $home-menu-item-width;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    .home-menu-item-icon {
                        background-color: red;
                        height          : $home-menu-item-icon-height;
                        width           : $home-menu-item-icon-width;
                    }

                    .home-menu-item-label {
                        background  : $menu-item-background;
                        display     : inline-flex;
                        height      : $home-menu-item-label-height;
                        line-height : $home-menu-item-label-height;
                        padding-left: 5px;
                        width       : $home-menu-item-label-width;

                        & > label {
                            display   : inline-block;
                            font-size : $home-menu-item-label-font-size;
                            text-align: center;
                            width     : 100%;
                        }

                        menu {
                            margin-top: $home-menu-item-label-height;

                            .menu-item-label {
                                label {
                                    font-size: $home-menu-item-label-font-size;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
