app-footer {
    color    : $footer-color;
    display  : inline-block;
    font-size: $footer-font-size;
    height   : $app-footer-height;
    width    : 100%;

    .footer-div {
        background-color: $footer-background-color;
        display         : flex;
        height          : $footer-height;
        line-height     : $footer-height;

        .col-center {
            background-color: $footer-background-color;
            padding         : 0;

            .links-div {
                display: $footer-links-display;
                float  : left;

                ul {
                    li {
                        float: left;

                        span {
                            transition: color .2s;

                            &:hover {
                                color: $footer-menu-hover-color;
                            }
                        }

                        .link {
                            color    : $footer-color;
                            font-size: $footer-font-size;
                        }

                        &:after {
                            content: '|';
                            padding: 0 10px;
                        }

                        &:last-of-type {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }

            .copyright-div {
                float     : $footer-copyright-float;
                text-align: center;
            }
        }
    }
}
