<div class="footer-mobile-menu-div">
    <ul class="links">
        <li *ngFor="let m of _menu; let i=index" (click)="onMenuClick(m, $event)">{{ m.label }}</li>
    </ul>
</div>
<div class="footer-div">
    <div class="links-div">
        <ul class="links">
            <li *ngFor="let m of _menu; let i=index" (click)="onMenuClick(m, $event)">
                <span class="link">{{ m.label }}</span>
            </li>
        </ul>
    </div>
    <div class="copyright-div">© {{ _copyright }} FUJITEC CO., LTD.</div>
</div>
