<div *ngIf="mode<2" class="nav-menu-items">
    <div class="nav-menu-item-div" *ngFor="let m of menu">
        <div class="nav-menu-item">
            <div [attr.class]="'nav-menu-item-icon ' + m.icon" (click)="_onMenuClick(m, $event)" (mouseout)="m.expanded=false" (mouseover)="m.expanded=true"></div>
            <div class="nav-menu-item-label" (click)="_onMenuClick(m, $event)" (mouseout)="m.expanded=false" (mouseover)="m.expanded=true">
                <label>{{ m.label }}</label>
                <menu [class.expanded]="m.expanded" [model]="m.items" (menuClick)="_onMenuClick(null, $event)"></menu>
            </div>
        </div>
    </div>
</div>
