nav-menu,
pro-menu,
sys-menu {
    .nav-menu-items {
        display   : $nav-menu-display;
        list-style: none;
        margin    : 0 auto;
        padding   : 0;

        &.mode-default {
            .desktop-menu {
                display: inline-block;
            }

            .mobile-menu {
                display: none;
            }
        }

        &.mode-mobile {
            .desktop-menu {
                display: none;
            }

            .mobile-menu {
                display: inline-block;
            }
        }

        .nav-menu-item {
            border    : $nav-menu-border;
            box-sizing: border-box;
            float     : left;
            margin    : $nav-menu-item-margin;
            position  : relative;

            &:last-of-type {
                margin-right: 0;
            }

            .nav-menu-item-icon {
                @mixin _menuitem($bg, $w, $h) {
                    background: $bg;
                    height    : $h;
                    width     : $w;
                }

                // sys
                &.autowalks {
                    @include _menuitem($nav-menu-autowalks-background, $nav-menu-sys-bakground-width, $nav-menu-sys-bakground-height);
                }

                &.elevators {
                    @include _menuitem($nav-menu-elevators-background, $nav-menu-sys-bakground-width, $nav-menu-sys-bakground-height);
                }

                &.escalators {
                    @include _menuitem($nav-menu-escalators-background, $nav-menu-sys-bakground-width, $nav-menu-sys-bakground-height);
                }

                &.ezdispatch {
                    @include _menuitem($nav-menu-ezdispatch-background, $nav-menu-sys-bakground-width, $nav-menu-sys-bakground-height);
                }

                // pro
                &.architects {
                    @include _menuitem($nav-menu-architects-background, $nav-menu-pro-bakground-width, $nav-menu-pro-bakground-height);
                }

                &.consultants {
                    @include _menuitem($nav-menu-consultants-background, $nav-menu-pro-bakground-width, $nav-menu-pro-bakground-height);
                }

                &.property-managers {
                    @include _menuitem($nav-menu-property-managers-background, $nav-menu-pro-bakground-width, $nav-menu-pro-bakground-height);
                }
            }

            .nav-menu-item-label {
                background  : $menu-item-background;
                bottom      : 0;
                box-sizing  : border-box;
                display     : inline-flex;
                height      : $nav-menu-item-label-height;
                left        : 0;
                line-height : $nav-menu-item-label-height;
                padding-left: 5px;
                position    : absolute;
                width       : $nav-menu-item-label-width;

                & > label {
                    display   : inline-block;
                    font-size : $nav-menu-item-label-font-size;
                    text-align: center;
                    // transform : scale(0.8,1.0);
                    width     : 100%;
                }

                menu {
                    left   : -1px;
                    top    : $nav-menu-item-label-height;
                    z-index: 1000;

                    .menu-item {
                        .menu-item-label {
                            font-size: $nav-menu-item-label-font-size;
                        }

                        .submenu-div {
                            menu {
                                left    : calc(100% - 1px);
                                position: relative;
                                top     : -#{$nav-menu-item-label-height + 1px};

                                .menu-div {
                                    .menu-item {
                                        .menu-item-label {
                                            font-size: $nav-menu-item-label-font-size;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.direction-side {
            display: $nav-menu-side-display;

            .nav-menu-item {
                height: $nav-menu-side-item-icon-height;
                margin: 0;
                width : $nav-menu-side-item-icon-width;

                .nav-menu-item-icon {
                    height   : $nav-menu-side-item-icon-height;
                    width    : $nav-menu-side-item-icon-width;

                    $_sizePos: $nav-menu-side-item-icon-position-x 0/#{$nav-menu-side-item-icon-background-width} #{$nav-menu-side-item-icon-background-height};

                    &.architects {
                        background: $nav-menu-architects-background $_sizePos;
                    }

                    &.autowalks {
                        background: $nav-menu-autowalks-background $_sizePos;
                    }

                    &.consultants {
                        background: $nav-menu-consultants-background $_sizePos;
                    }

                    &.elevators {
                        background: $nav-menu-elevators-background $_sizePos;
                    }

                    &.escalators {
                        background: $nav-menu-escalators-background $_sizePos;
                    }

                    &.ezdispatch {
                        background: $nav-menu-ezdispatch-background $_sizePos;
                    }

                    &.property-managers {
                        background: $nav-menu-property-managers-background $_sizePos;
                    }
                }

                .nav-menu-item-label {
                    background: none;
                    height    : 0;
                    padding   : 0;
                    position  : absolute;
                    top       : 0;

                    & > label {
                        display: none;
                    }

                    menu {
                        left       : 0;
                        margin-left: $nav-menu-side-item-icon-width;
                        margin-top : 0;

                        .menu-item {
                            .submenu-div {
                                menu {
                                    left       : auto;
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.mode-mobile {
            .nav-menu-item {
                border: none;
                height: $nav-menu-mobile-item-icon-height;
                margin: $nav-menu-mobile-item-margin;
                width : $nav-menu-mobile-item-icon-width;

                .mobile-menu {
                    .nav-menu-item-icon {
                        border-radius: $nav-menu-mobile-item-icon-border-radius;
                        height       : $nav-menu-mobile-item-icon-height;
                        width        : $nav-menu-mobile-item-icon-width;

                        label {
                            color      : $nav-menu-mobile-item-label-color;
                            display    : inline-block;
                            font-size  : $nav-menu-mobile-item-label-font-size;
                            line-height: normal;
                            position   : absolute;
                            text-align : center;
                            top        : 50%;
                            transform  : translateY(-50%);
                            width      : 100%;
                        }

                        &.architects {
                            background: $nav-menu-mobile-architects-background;
                        }

                        &.autowalks {
                            background: $nav-menu-mobile-autowalks-background;
                        }

                        &.consultants {
                            background: $nav-menu-mobile-consultants-background;
                        }

                        &.elevators {
                            background: $nav-menu-mobile-elevators-background;
                        }

                        &.escalators {
                            background: $nav-menu-mobile-escalators-background;
                        }

                        &.ezdispatch {
                            background: $nav-menu-mobile-ezdispatch-background;
                        }

                        &.property-managers {
                            background: $nav-menu-mobile-property-managers-background;
                        }
                    }
                }
                @media only screen and (max-width: 700px) {
                    height: $nav-menu-mobile-item-icon-height-700;
                    width : $nav-menu-mobile-item-icon-width-700;

                    .mobile-menu {
                        .nav-menu-item-icon {
                            height: $nav-menu-mobile-item-icon-height-700;
                            width : $nav-menu-mobile-item-icon-width-700;

                            label {
                                font-size: $nav-menu-mobile-item-label-font-size-700;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 600px) {
                    height: $nav-menu-mobile-item-icon-height-600;
                    width : $nav-menu-mobile-item-icon-width-600;

                    .mobile-menu {
                        .nav-menu-item-icon {
                            height: $nav-menu-mobile-item-icon-height-600;
                            width : $nav-menu-mobile-item-icon-width-600;

                            label {
                                font-size: $nav-menu-mobile-item-label-font-size-600;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 500px) {
                    height: $nav-menu-mobile-item-icon-height-500;
                    width : $nav-menu-mobile-item-icon-width-500;

                    .mobile-menu {
                        .nav-menu-item-icon {
                            height: $nav-menu-mobile-item-icon-height-500;
                            width : $nav-menu-mobile-item-icon-width-500;

                            label {
                                font-size: $nav-menu-mobile-item-label-font-size-500;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 400px) {
                    height: $nav-menu-mobile-item-icon-height-400;
                    width : $nav-menu-mobile-item-icon-width-400;

                    .mobile-menu {
                        .nav-menu-item-icon {
                            height: $nav-menu-mobile-item-icon-height-400;
                            width : $nav-menu-mobile-item-icon-width-400;

                            label {
                                font-size: $nav-menu-mobile-item-label-font-size-400;
                            }
                        }
                    }
                }
            }
        }
    }
}
