.project-info-div {
    color    : $project-color;
    cursor   : pointer;
    float    : left;
    font-size: $project-font-size;
    height   : $project-height;
    margin   : 0 0 0 $project-margin;
    overflow : hidden;
    position : relative;
    width    : $project-width;

    .project-image {
        transition: transform .2s linear;
        width     : 100%;
    }

    .project-name {
        background: $project-name-background;
        bottom    : 0;
        left      : 0;
        padding   : $project-name-padding;
        position  : absolute;
        right     : 0;
        text-align: center;
    }

    .project-info {
        @include abs-position();
        background: $project-name-background;
        opacity   : 0;
        padding   : $project-info-padding;

        .info-title {
            @extend .bold;
            background   : $project-info-title-background;
            border-bottom: $project-info-title-border;
            margin       : $project-info-title-margin;
            padding      : $project-info-title-padding;
            text-align   : center;
        }

        .info-desc {
            @include abs-position(70px, $project-info-padding, 55px, $project-info-padding);
            line-height: $project-info-description-line-height;
            overflow   : hidden;
        }

        .info-categories {
            @include abs-position_bl($vgap_, $project-info-padding);

            .info-category {
                @extend .bold;
                background: $project-info-category-background;
                display   : inline-block;
                float     : left;
                margin    : $project-info-category-margin;
                padding   : $project-info-category-padding;
            }
        }

        .click-for-info-div {
            @include abs-position_bl($vgap_, $project-info-padding);
            right     : $project-info-padding;
            text-align: center;
        }
    }

    &:hover {
        .project-image {
            transform: scale(1.1);
        }

        .project-name {
            opacity   : 0;
            transition: all .25s;
        }

        .project-info {
            opacity   : 1;
            transition: all .25s;
        }
    }
}
