about {
    .about-div {
        .section {
            margin-top: 0;
        }

        .mission-vision-div {
            display   : inline-flex;
            padding   : 0 $hgap;
            text-align: center;

            & > div {
                border : $border;
                flex   : 1;
                margin : 0;
                padding: $vgap $hgap;

                &:first-of-type {
                    border-right: none;
                }

                & > h1 {
                    & > span {
                        border-bottom: $border;
                    }
                }
            }
        }

        .north-america {
            @extend .padding-lr-0;
            background-color: $grey1;
            max-width       : initial;

            h1 {
                background-color: $grey3;
                margin          : 0;
                padding         : $vgap_ 0;
            }

            p {
                margin-left : $hgap;
                margin-right: $hgap;

                &:last-of-type {
                    margin-bottom: $vgap;
                }
            }
        }

        .achievements {
            background     : $about-background2;
            background-size: cover;
            max-width      : initial;
            padding        : 90px;

            .achievements-div {
                background-color: rgba(255,255,255,0.5);

                h1 {
                    background-color: $white;
                    padding         : $vgap_ 0;
                }

                p {
                    background-color: $grey1;
                    padding         : $vgap_ $hgap;
                }
            }
        }

        .operations {
            @extend .padding-lr-0;
            max-width: initial;

            h1 {
                background-color: $grey3;
                margin          : 0;
                padding         : $vgap_ 0;
            }

            p {
                padding: 0 $hgap;
            }

            .big {
                background-color: $grey1;
                margin-top      : $vgap;
                padding         : $vgap_ $hgap;
            }

            .operations-footer {
                background-color: $grey3;

                p {
                    margin : 0;
                    padding: $vgap_ $hgap;
                }
            }
        }

        .leadership {
            display       : flex;
            flex-direction: column;
            max-width     : $max-width;

            & > div {
                display: flex;
                margin : $vgap_ auto;

                .image {
                    background     : $about-leadership-background;
                    background-size: 205px 290px;
                    height         : 290px;
                    margin         : 0 80px $vgap 0;
                    width          : 205px;
                }

                .info-div {
                    flex: 1;

                    .name-title {
                        @extend .bold;
                        display   : inline-grid;
                        margin-top: 0;

                        span {
                            &:first-child {
                                font-size: 24px;
                            }

                            &:last-child {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }

        .ceo {
            background     : $about-background;
            background-size: cover;
            max-width      : initial;
            padding        : $vgap $hgap;
            text-align     : initial;

            .ceo-div {
                background: $about-text-background-color;
                margin    : 0 auto;
                max-width : $max-width;
                padding   : $vgap_ $hgap_;

                img {
                    float: right;
                }
            }
        }
    }
}
