about {
    ol,
    p {
        margin: $vgap_ 0;
    }

    .section {
        padding   : $vgap_ $hgap_;
        text-align: initial;
        width     : 100%;

        .image {
            float : left;
            margin: 0 80px $vgap 0;

            &.ceo {
                float : right;
                margin: 0 0 $vgap $hgap;
            }
        }

        p {
            line-height: 26px;
        }

        &.leadership-div {
            display       : flex;
            flex-direction: column;

            .leadership {
                display: inline-block;
                margin : 0 auto;
                width  : 770px;

                .name-title {
                    @extend .bold;
                    display   : inline-grid;
                    margin-top: 0;

                    span {
                        &:first-child {
                            font-size: 24px;
                        }

                        &:last-child {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}
