app {
    width: 100%;

    .app-content {
        box-sizing: border-box;
        margin    : $app-content-margin;
        width     : 100%;

        & > router-outlet + * {
            display   : block;
            margin    : 0 auto;
            max-width : $max-width;
            min-height: $app-min-height;
            padding   : $app-content-padding;
        }
    }

    .nav-menu {
        position: fixed;
        top     : 30%;
        z-index : 1000;

        &.pro-menu {
            right: 0;
        }

        &.sys-menu {
            left: 0;
        }
    }
}
