<app-header></app-header>
<div class="app-content">
    <div class="col-left" *ngIf="!_isHome">
        <div class="references-div">
            <div #refs class="reference-div" *ngFor="let r of _references" [class.current]="r.mode===1" [class.previous]="r.mode===2">
                <div class="reference-content-div">
                    <div class="reference-text">"{{ r.text }}"</div>
                    <div class="reference-source">{{ r.source }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-center" [class.home]="_isHome">
        <router-outlet></router-outlet>
    </div>
    <div class="col-right" *ngIf="!_isHome">
        <div class="systems-menu-div">
            <h4 class="header">{{ this | getString: 'systems': 'Systems' }}</h4>
            <div class="home-menu-div">
                <sys-menu></sys-menu>
            </div>
        </div>
    </div>
</div>
<div class="sys-menu-div" *ngIf="_isHome">
    <h4 class="header">{{ this | getString: 'systems': 'Systems' }}</h4>
    <div class="home-menu-div">
        <sys-menu></sys-menu>
    </div>
</div>
<div class="pro-menu-div">
    <h4 class="header">{{ this | getString: 'industry-professional-resources': 'Industry Professional Resources' }}</h4>
    <div class="home-menu-div">
        <pro-menu></pro-menu>
    </div>
</div>
<div class="mobile-menu-div">
    <sys-menu [mode]="1"></sys-menu>
    <pro-menu [mode]="1"></pro-menu>
</div>
<app-footer></app-footer>

<button style="display:none;position:absolute;top:0;left:0;z-index:2000" (click)="_exportStrings()">export</button>
