<div class="app-div">
    <app-header [style.top.px]="_headerTop"></app-header>
    <div #appContent class="app-content" [class.home]="_isHome" [style.top.px]="_contentTop" [style.padding-top.px]="_sectionHeaderVisible? _contentPaddingTop : 0">
        <router-outlet></router-outlet>
    </div>
    <section-header [class.hidden]="!_sectionHeaderVisible" [style.top.px]="_sectionHeaderTop" [class.animate]="_animateTop" [showAll]="_showAllSectionHeader"></section-header>
    <!-- <div class="pro-menu-div" *ngIf="!_isHome">
        <div class="col-left"></div>
        <div class="col-center">
            <div class="pro-menu-title">{{ this | getString : 'industry-resources' : 'Industry Resources' }}</div>
            <div class="pro-menu-item" *ngFor="let r of _resources">
                <div [attr.class]="r.icon" (click)="_showResource(r)">
                    <div class="pro-menu-label">{{ r.label }}</div>
                </div>
            </div>
        </div>
        <div class="col-right"></div>
    </div> -->
    <app-footer *ngIf="_showFooter"></app-footer>
</div>

<alert #alert [message]="_alertMessage"></alert>
<login #login></login>

<!-- <button style="position:absolute;top:0;left:0;z-index:2000" (click)="_exportStrings()">export</button> -->
