app {
    width: 100%;

    .app-content {
        box-sizing: border-box;
        margin    : $app-content-margin;
        width     : 100%;

        router-outlet + * {
            display  : block;
            margin   : 0 auto;
            max-width: $max-width;
            padding  : $app-content-padding;
        }
    }
}
