modernization {
    .modernization-div {
        .col-center {
            background-color: $modernization-background-color;

            .section.benefits {
                margin-top: 0;

                & > .section {
                    margin-top: 0;
                }
            }

            .benefits-div {
                color         : $modernization-benefits-color;
                text-transform: uppercase;

                .row {
                    margin: 2px 0;

                    div[class*="col-"] {
                        padding-left : 1px;
                        padding-right: 1px;

                        .cell {
                            background-color: $modernization-benefits-background-color;
                            height          : 100%;
                            padding         : $vgap_ $hgap_;
                        }
                    }
                }
            }

            .assessment-div {
                background     : $modernization-assessment-background;
                background-size: cover;
                padding        : $vgap_ $hgap_;

                & * {
                    padding: $vgap_ $hgap_;
                }

                .row {
                    div[class$='-5'] {
                        background-color: $white;
                        text-align      : left;
                    }

                    div[class$='-7'] {
                        background-color: rgba(255,255,255,0.7);

                        p {
                            font-size: 50px;
                            margin   : 0;
                            padding  : 0;
                            position : absolute;
                            top      : 50%;
                            transform: translateY(-50%);
                        }
                    }

                    &:first-of-type {
                        div[class$='-7'] {
                            p {
                                right     : $hgap_;
                                text-align: right;
                            }
                        }
                    }
                }
            }

            .process {
                @extend .padding-lr-0;

                & > .section {
                    @extend .padding-lr-0;
                }

                .process-div {
                    background         : $modernization-process-background;
                    background-color   : $modernization-process-background-color;
                    background-position: center;
                    background-size    : $modernization-process-background-size;
                    border-left        : $modernization-process-border;
                    border-right       : $modernization-process-border;
                    height             : $modernization-process-height;
                    position           : relative;

                    .row {
                        left    : $hgap_;
                        position: absolute;
                        right   : $hgap_;

                        &:first-of-type {
                            top: $hgap;
                        }

                        &:last-of-type {
                            bottom: $hgap;
                        }
                        @media only screen and (max-width: 1090px) {
                            left : 9px;
                            right: 9px;
                        }

                        .process-box {
                            background-color: $modernization-process-box-background-color;
                            color           : $modernization-process-box-color;
                            display         : inline-flex;
                            flex-wrap       : wrap;
                            font-weight     : $modernization-process-box-font-weight;
                            padding         : $vgap $hgap;
                            position        : relative;
                            width           : 35%;

                            & > div {
                                color      : $modernization-process-box-color;
                                line-height: 1;
                                text-align : left;

                                &:first-of-type {
                                    border-right : $modernization-process-box-border;
                                    font-size    : $modernization-process-box0-font-weight;
                                    height       : 60px;
                                    margin-right : $hgap_;
                                    padding-right: $hgap_;
                                    width        : 50px;
                                }

                                &:last-of-type {
                                    font-size: $modernization-process-box1-font-weight;
                                }
                            }
                        }

                        .spacer {
                            width: 30%;
                        }
                    }
                }
            }

            .whynamo-div {
                background         : $modernization-whynamo-background;
                background-color   : $modernization-whynamo-background-color;
                background-position: $modernization-whynamo-background-position;
                background-size    : $modernization-whynamo-background-size;
                height             : $modernization-whynamo-height;
                position           : relative;

                .whynamo-text-div {
                    @include abs-position-tl();
                    background-color: $modernization-whynamo-text-background-color;
                    padding         : $vgap $hgap;
                    text-align      : left;

                    p {
                        margin-top: 0;
                    }
                }

                .lets-modernize-america {
                    @include abs-position-tl(220px, 10%);
                    -webkit-background-clip: text;
                    -moz-background-clip   : text;
                    background-clip        : text;
                    background-color       : $black;
                    color                  : transparent;
                    font-family            : 'Times New Roman', Times, serif;
                    font-size              : 70px;
                    line-height            : 1;
                    text-align             : left;
                    text-shadow            : 0 2px 1px #767B7F;
                    width                  : 300px;
                }
            }
        }
    }
}
