app-header {
    background-color: $header-background-color;
    border-bottom   : $header-border;
    display         : inline-block;
    font-size       : $header-font-size;
    height          : $header-height;
    line-height     : $header-height;
    overflow        : hidden;
    z-index         : 1000;

    .header-div {
        @include abs-position();
        display       : flex;
        flex-direction: row;
        height        : $header-height;
        line-height   : $header-height;
        margin        : 0 auto;
        min-width     : $header-min-width;
        padding       : $header-padding;

        .header-content-div {
            display : inline-flex;
            width   : 100%;

            $_height: $header-height - $header-padding-top;

            & > * {
                height     : $_height;
                line-height: $_height;
            }

            .header-logo-div {
                background: $header-logo-background;
                cursor    : pointer;
            }

            .header-main-menu-div,
            .header-side-menu-div {
                display: $header-menu-display;

                .link {
                    color : $header-menu-color;
                    cursor: pointer;
                    float : left;
                }
            }

            .header-main-menu-div {
                display: $header-main-menu-display;

                .links-div {
                    margin: 0 auto;

                    .links {
                        .link {
                            font-size: $header-main-menu-link-font-size;
                            margin   : $header-main-menu-link-margin;

                            .link-label {
                                &:hover {
                                    color: $header-menu-hover-color;
                                }
                            }

                            &.active {
                                .link-label {
                                    color: $header-menu-hover-color;
                                }
                            }

                            menu .menu .menu-item .menu-item-label {
                                font-size: $header-main-menu-submenu-link-font-size;
                            }
                        }
                    }
                }
            }

            .header-side-menu-div {
                font-size: $header-side-menu-font-size;

                .links {
                    .link {
                        font-size: $header-side-menu-link-font-size;
                        margin   : $header-side-menu-link-margin;

                        &:hover {
                            color: $header-menu-hover-color;
                        }

                        .menu-icon {
                            display: none;
                            // height  : $header-search-icon-font-size;
                            // position: relative;
                            // width   : $header-search-icon-font-size;

                            .material-icons {
                                font-size: $header-search-icon-font-size;
                            }
                        }

                        .menu-text {
                            line-height: 10px;
                        }

                        &.active {
                            color: $header-menu-hover-color;
                        }
                    }
                }
            }
        }

        .header-mobile-menu-trigger-div {
            @include abs-position-tr();
            color       : $header-mobile-menu-trigger-color;
            display     : $header-mobile-menu-trigger-display;
            font-size   : $header-mobile-menu-trigger-font-size;
            margin-right: 5px;
            margin-top  : -13px;
            text-align  : center;
            width       : $header-mobile-menu-trigger-width;

            .header-mobile-menu-lines-div {
                display: inline-grid;

                span {
                    background-color: $header-mobile-menu-trigger-color;
                    display         : inline-block;
                    height          : $header-mobile-menu-trigger-line-height;
                    margin          : 0 0 3px;
                    transition      : all .4s;
                    width           : $header-mobile-menu-trigger-line-width;

                    &:last-child {
                        margin: 0 0 2px;
                    }
                }
            }

            &.menu-open {
                color: $header-mobile-menu-trigger-open-color;

                .header-mobile-menu-lines-div {
                    span {
                        background-color: $header-mobile-menu-trigger-open-color;

                        &:nth-of-type(1) {
                            transform: translateY(7px) rotate(-315deg);
                        }

                        &:nth-of-type(2) {
                            opacity: 0;
                        }

                        &:nth-of-type(3) {
                            transform: translateY(-5px) rotate(315deg);
                        }
                    }
                }
            }

            .header-mobile-menu-text {
                line-height: 5px;
                margin-top : 5px;
            }
        }
    }

    .search-div {
        background-color: $header-search-background-color;
        display         : inline-flex;
        height          : $header-search-height;
        opacity         : $header-search-opacity;
        padding         : $header-search-padding;
        pointer-events  : none;
        text-align      : center;
        transition      : all .4s;
        width           : 100%;

        &.active {
            opacity       : 1;
            pointer-events: all;
        }

        .search-input-div {
            margin: 0 auto;
            width : $header-search-input-div-width;

            & > * {
                float: right;
            }

            .search-input {
                height: $header-search-input-height;
                width : $header-search-input-width;
            }

            .search-icon {
                background-color: $header-search-icon-background-color;
                height          : $header-search-icon-size;
                width           : $header-search-icon-size;

                .material-icons {
                    color    : $header-search-icon-color;
                    font-size: $header-search-icon-font-size;
                    position : relative;
                    top      : $header-search-icon-top;
                }
            }
        }
    }

    .header-mobile-menu-div {
        @include abs-position($header-height, 0, unset, 0);
        background-color: $header-mobile-menu-background-color;
        display         : $header-mobile-menu-trigger-display;
        transform       : translateY(-120%);
        transition      : all .2s;

        &.active {
            transform: translateY(0%);

            .search-div {
                opacity: 1;
            }

        }

        ul {
            width: 100%;

            li {
                background   : $header-mobile-menu-item-background;
                border-bottom: $header-mobile-menu-item-border-bottom;
                color        : $header-mobile-menu-item-color;
                height       : $header-mobile-menu-item-height;
                line-height  : $header-mobile-menu-item-height;
                padding      : 0 10px;
            }
        }

        .mobile-menu-close-div {
            background : $header-mobile-menu-item-close-background;
            color      : $header-mobile-menu-item-close-color;
            height     : $header-mobile-menu-item-close-height;
            line-height: $header-mobile-menu-item-close-height;
            text-align : center;
        }
    }
}
