@include section-image( 'dispatch', '.ezshuttle', $dispatch-ezshuttle-section-image-content);
@include section-image( 'dispatch', '.flexnx', $dispatch-flexnx-section-image-content);

dispatch {
    .flexnx {
        ol {
            list-style: none;
        }

        .flexnx-image {
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : $dispatch-image-width $dispatch-image-height;
            height             : $dispatch-image-height;
            margin             : 0 auto;
            width              : 100%;

            &.flexnx-102 {
                background-image: $dispatch-flexnx-102-background;
            }

            &.flexnx-252 {
                background-image: $dispatch-flexnx-252-background;
            }
        }
    }

    .ezshuttle {
        .ezshuttle-image {
            background-image   : $dispatch-ezshuttle-background;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : $dispatch-image-width $dispatch-image-height;
            height             : $dispatch-image-height;
            margin             : 0 auto;
            width              : 100%;
        }

        .performances {
            .performances-image {
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : $dispatch-performances-image-width $dispatch-performances-image-height;
                display            : inline-block;
                height             : $dispatch-performances-image-height;
                margin             : 0 $hgap_;
                width              : 90%;
                @media only screen and (min-width: 1600px) {
                    width: 45%;
                }

                &.performances-time {
                    background-image: $dispatch-performances-time-background;
                }

                &.performances-wait {
                    background-image: $dispatch-performances-wait-background;
                }
            }
        }
    }
}
