@include section-image( 'installation', '.installation', $installation-installation-image-content);
@include section-image( 'installation', '.expectations', $installation-expectations-image-content);

installation {
    @include hr($grey6);

    .col-center {
        .section:first-of-type {
            margin: 0;
        }

        .installation {
            & > div {
                & > div {
                    display   : flex;
                    flex-wrap : wrap;
                    min-height: 520px;

                    .teal-box {
                        display: inline-grid;
                        flex   : .4;
                        margin : $vgap_ $hgap_ auto 0;

                        &:nth-child(2) {
                            flex: .2;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }

                        .h4 {
                            display: inline-block;
                            margin : 0 auto;
                        }
                    }
                }
            }
        }

        .header-div {
            display: inline-block;
        }

        .expectations {
            text-align: center;

            & > div {
                & > div {
                    min-height: 520px;
                    padding   : $vgap * 2 0 $vgap * 2 $hgap;

                    .grey-box {
                        display       : inline-block;
                        margin-bottom : $vgap;
                        margin-right  : $hgap;
                        position      : relative;
                        vertical-align: top;
                        width         : 20%;
                        @media only screen and (max-width: 1024px) {
                            width: 40%;
                        }

                        & > * {
                            display: inline-block;
                        }

                        .chekmark {
                            background         : $installation-checkmark-backround;
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            height             : 100px;
                            width              : 100%;
                        }

                        .hr-140 {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .operations {
            text-align: center;

            .operations-row {
                margin-bottom: $hgap;

                .grey-box {
                    padding: $vgap_ $hgap_;

                    p {
                        font-size : $installation-operations-font-size;
                        font-style: italic;
                    }
                }

                .teal-arrow {
                    background         : $installation-arrow-background;
                    background-position: center;
                    background-size    : 55%;
                    height             : 100px;
                    transform          : rotate(90deg);
                    width              : 100px;
                }
            }
        }
    }
}
