locations {
    .content-div {
        background     : $locations-background;
        background-size: cover;
        display        : flex;
        overflow       : hidden;
        margin-top     : $section-header-top-menu-height;
        padding        : 0;
        width          : 100%;

        .locations-div {
            @include abs-position();
            display: flex;

            .col-center {
                background: none;
                display   : flex;

                .map-div {
                    flex    : 1;
                    padding : 0 $hgap;
                    position: relative;

                    .map-content-div {
                        height    : 100%;
                        margin    : 0 auto;
                        max-height: $locations-map-max-height;
                        max-width : $locations-map-max-width;
                        position  : relative;

                        svg {
                            @include abs-position-tl();

                            image {
                                pointer-events: none;
                            }

                            circle {
                                cursor: pointer;
                            }
                        }

                    }
                }

                .list-div {
                    background-color: rgba(0,0,0,0.5);
                    display         : inline-table;
                    margin-right    : $hgap;
                    padding         : $vgap $hgap;
                    width           : $locations-list-width;

                    & > div {
                        border-left: $locations-item-border;
                        color      : $locations-item-color;
                        padding    : $locations-item-padding;
                        text-align : left;

                        &:hover {
                            color : $red;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
