section-header {
    transition: none;

    & * {
        transition: none;
    }

    .bg-div {
        @include abs-position();
        overflow      : hidden;
        pointer-events: none;

        .bg {
            @include abs-position();
            background-position: bottom;
            background-repeat  : no-repeat;
            background-size    : cover;
            height             : $seciton-header-bg-max-height;
            max-height         : $seciton-header-bg-max-height;
            pointer-events     : none;

            .namo {
                display: none;
            }

            &.about {
                background-image: $section-header-bg-about;
            }

            &.autowalks {
                background-image: $section-header-bg-autowalks;
            }

            &.dispatch {
                background-image: $section-header-bg-dispatch;
            }

            &.elevators {
                background-image: $section-header-bg-elevators;
            }

            &.escalators {
                background-image: $section-header-bg-escalators;
            }

            &.installation {
                background-image: $section-header-bg-installation;
            }

            &.ionful {
                background-image: $section-header-bg-ionful;
            }

            &.modernization {
                background-image: $section-header-bg-modernization;

                .namo {
                    @include abs-position(140px, 0);
                    background     : $section-header-modernization-namo-bakground;
                    background-size: $section-header-modernization-namo-width $section-header-modernization-namo-height;
                    display        : inline-block;
                    height         : $section-header-modernization-namo-height;
                    width          : $section-header-modernization-namo-width;
                }
            }

            &.portfolio {
                background-image: $section-header-bg-portfolio;
            }

            &.recommendations {
                background-image: $section-header-bg-recommendations;
            }

            &.service-maintenance {
                background-image: $section-header-bg-service-maintenance;
            }

            &.support {
                background-image: $section-header-bg-support;
            }
        }
    }

    .top-menu-bg {
        @include abs-position(0, 17px, inherit, inherit);
        background-color: $section-header-top-menu-background-color;
        height          : $section-header-top-menu-height;
        overflow        : hidden;
        width           : 100%;

        .logo {
            @include abs-position-tr(-$header-height, 0);
            background: $section-header-logo-background;
            cursor    : pointer;
            height    : $section-header-top-menu-height;
            width     : 100%;
        }
    }

    .top-menu {
        @include abs-position-tl(0, 50%);
        @extend .section-header;
        border-left : $section-header-top-menu-border;
        border-right: $section-header-top-menu-border;
        height      : $section-header-top-menu-height;
        transform   : translateX(-50%);

        .menu-items {
            .menu-item {
                height     : $section-header-top-menu-height;
                line-height: $section-header-top-menu-height;

                &:not(:last-of-type) {
                    border-right: $section-header-top-menu-border;
                }

                & > span {
                    height     : $section-header-top-menu-height;
                    line-height: $section-header-top-menu-height;
                }
            }
        }
    }

    .menu-div {
        @extend .section-header;

        &.empty {
            pointer-events: none;

            & > * {
                pointer-events: none;
            }
        }

        &.col-left {
            @include abs-position(490px, inherit, 0, 0);
            pointer-events: none;
        }

        &.col-center {
            @include abs-position(490px, $col-side-width, inherit, $col-side-width);
            pointer-events: none;
            width         : auto;
        }

        &.menu-content-div {
            @include abs-position-tl(490px, $col-side-width);
            padding-left: $hgap;

            .menu-title {
                font-size     : $section-header-menu-font-size;
                line-height   : $section-header-menu-line-height;
                margin        : auto 0;
                pointer-events: none;
                text-transform: uppercase;
            }

            .menu-items-div {
                line-height: $section-header-menu-line-height;
                margin     : 0 0 0 $hgap;

                .menu-items {
                    height: $section-header-menu-line-height;

                    .menu-item {
                        background         : $section-header-top-menu-item-background;
                        background-position: $section-header-top-menu-item-background-position;
                        background-size    : $section-header-top-menu-item-background-width $section-header-top-menu-item-background-height;
                        margin-right       : $hgap_/2;
                        padding            : $section-header-top-menu-item-padding;
                    }
                }
            }
        }

        &.col-right {
            @include abs-position-tr(490px, 0);
            bottom        : 0;
            pointer-events: none;
        }
    }

    .menu-items {
        @extend .list-style-none;
        display       : inline-flex;
        font-size     : $section-header-menu-items-font-size;
        margin-bottom : -8px;
        vertical-align: bottom;

        .menu-item {
            cursor        : pointer;
            display       : inline-block;
            padding       : 0 $hgap_;
            text-transform: uppercase;
        }
    }

    &.animate {
        transition: top .5s;

        & * {
            transition: top .5s;
        }
    }
}
