section-header {
    .section-header-div {
        height  : $seciton-header-bg-max-height;
        margin  : 0;
        position: relative;

        .bg {
            @include abs-position();
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
            height             : $seciton-header-bg-max-height;
            max-height         : $seciton-header-bg-max-height;
            width              : 100%;

            &.about {
                background-image: $section-header-bg-about;
            }

            &.autowalks {
                background-image: $section-header-bg-autowalks;
            }

            &.dispatch {
                background-image: $section-header-bg-dispatch;
            }

            &.elevators {
                background-image: $section-header-bg-elevators;
            }

            &.escalators {
                background-image: $section-header-bg-escalators;
            }

            &.installation {
                background-image: $section-header-bg-installation;
            }

            &.ionful {
                background-image: $section-header-bg-ionful;
            }

            &.modernization {
                background-image: $section-header-bg-modernization;
            }

            &.portfolio {
                background-image: $section-header-bg-portfolio;
            }

            &.service-maintenance {
                background-image: $section-header-bg-service-maintenance;
            }

            &.support {
                background-image: $section-header-bg-support;
            }
        }

        .menu-div {
            @include abs-position-bl(0, 0);
            @extend .section-header;

            .menu-title {
                font-size     : $section-header-menu-font-size;
                line-height   : $section-header-menu-line-height;
                margin        : auto 0;
                text-transform: uppercase;
            }

            .menu-items-div {
                line-height: $section-header-menu-line-height;
                margin     : auto 0 auto $hgap;

                .menu-items {
                    @extend .list-style-none;
                    display       : inline-flex;
                    font-size     : $section-header-menu-items-font-size;
                    height        : $section-header-menu-line-height;
                    margin-bottom : -8px;
                    vertical-align: bottom;

                    .menu-item {
                        border-right  : $section-header-menu-item-border;
                        cursor        : pointer;
                        display       : inline-block;
                        padding       : 0 #{$hgap_ / 2};
                        text-transform: uppercase;

                        &:first-of-type {
                            border-left: $section-header-menu-item-border;
                        }
                    }
                }
            }

            .menu-toggle {
                background: $section-header-menu-toggle-background $section-header-menu-color center;
                height    : 29px;
                margin    : $vgap_ $hgap_;
                width     : 24px;
            }
        }
    }
}
