@mixin drop-shadow($dx, $dy, $blur, $spread, $rgba) {
    -webkit-box-shadow: $dx $dy $blur $spread $rgba !important;
    -moz-box-shadow   : $dx $dy $blur $spread $rgba !important;
    box-shadow        : $dx $dy $blur $spread $rgba !important;
}

// app
$max-width: 1000px;

body,
html {
    height  : 100%;
    margin  : 0;
    overflow: hidden;
    padding : 0;
    width   : 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

input[type="password"],
input[type="text"],
select,
textarea {
    box-sizing   : border-box;
    font-size    : 14px;
    height       : 45px;
    padding-left : 10px;
    padding-right: 10px;
}

ul.links {
    display   : inline-block;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.disabled {
    opacity       : .3;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.link {
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

.content-div {
    margin   : $app-margin;
    max-width: $max-width;
}

// dialog
.mat-dialog-actions {
    float: right;
}

// app
$reference-width: 180px;

$app-sys-menu-height: 200px;
$app-sys-menu-padding: 20px 0;

$app-pro-menu-height: 200px;
$app-pro-menu-padding: 20px 0 0 0;

// footer
$footer-max-width: $max-width;
$footer-mobile-menu-item-height: 30px;

// header
$header-font-size: 14px;
$header-max-width: $max-width;

$header-logo-padding: 0 40px 0 0;

$header-main-menu-link-margin: 0 30px;
$header-main-menu-item-height: 35px;

$header-side-menu-font-size: 6px;
$header-side-menu-margin: 10px 0 20px;
$header-side-menu-padding: 0 0 0 40px;
$header-side-menu-link-margin: 0 8px;

$header-search-icon-font-size: 30px;

$header-search-height: 80px;
$header-search-opacity: 0;
$header-search-padding: 20px 0;

$header-search-input-height: 40px;
$header-search-icon-size: 40px;
$header-mobile-menu-trigger-font-size: 10px;
$header-mobile-menu-trigger-width: 40px;

$header-mobile-menu-trigger-line-height: 3px;
$header-mobile-menu-trigger-line-width: 22px;

$header-mobile-menu-item-height: 45px;
$header-mobile-menu-item-close-height: 45px;

// home
$home-slides-transition-duration: 1s;

// login
$login-modal-height: 270px;
$login-modal-width: 400px;

// nav menu
$nav-menu-item-height: 100px;
$nav-menu-item-width: 140px;
$nav-menu-item-icon-height: 75px;
$nav-menu-item-icon-width: $nav-menu-item-width;
$nav-menu-item-label-height: 25px;
$nav-menu-item-label-width: $nav-menu-item-width;
$nav-menu-item-label-font-size: 10px;
//      side

// site-map
$site-map-links-margin: 0 0 20px 0;

//
.col-left,
.col-right {
    box-sizing: border-box;
    min-width : 250px;
    padding   : 0;
    width     : 250px;
}

.col-left {
    padding-right: 25px;
}

.col-center {
    width: 100%;
}

.col-right {
    padding-left: 25px;
}
