@mixin abs-position($top:null, $right:null, $bottom:null, $left:null) {
     @if ($top==null){
        $top: 0;
    }
    @if ($right==null) {
        $right: $top;
    }
    @if ($bottom==null) {
        $bottom: $right;
    }
    @if ($left==null) {
        $left: $bottom;
    }
    bottom  : $bottom;
    left    : $left;
    position: absolute;
    right   : $right;
    top     : $top;
}
@mixin abs-position-bl($bottom:0, $left:0) {
    bottom  : $bottom;
    left    : $left;
    position: absolute;
}
@mixin abs-position-br($bottom:0, $right:0) {
    bottom  : $bottom;
    position: absolute;
    right   : $right;
}
@mixin abs-position-tb($top:0, $bottom:0) {
    bottom  : $bottom;
    position: absolute;
    top     : $top;
}
@mixin abs-position-tl($top:0, $left:0) {
    left    : $left;
    position: absolute;
    top     : $top;
}
@mixin abs-position-tr($top:0, $right:0) {
    position: absolute;
    right   : $right;
    top     : $top;
}
@mixin border($side, $border) {
    border-#{$side}: $border;
}
@mixin drop-shadow($dx, $dy, $blur, $spread, $rgba) {
    -webkit-box-shadow: $dx $dy $blur $spread $rgba !important;
    -moz-box-shadow   : $dx $dy $blur $spread $rgba !important;
    box-shadow        : $dx $dy $blur $spread $rgba !important;
}
@mixin section-image($section, $name, $content) {
    #{$section} {
        #{$name} {
            .section-image {
                img {
                    content: #{$content};
                }
            }
        }
    }
}
$col-center-max-width: 1600px;
$col-center-min-width: 544px;
$col-side-width: 240px;

//
.bold {
    font-weight: 700;
}

.col-left,
.col-right {
    padding  : 0;
    min-width: $col-side-width;
    width    : $col-side-width;
}

.col-left {
    padding-right: 20px;
    text-align   : right;
}

.col-right {
    padding-left: 20px;
    text-align  : left;
}

.col-center {
    max-width: $col-center-max-width;
    min-width: $col-center-min-width;
    width    : 100%;
}

.ellipsis {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.italic {
    font-style: italic;
}

.list-style-none {
    list-style: none;
}

.text-overflow-ellipsis {
    display      : block;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}
