// app
$app-margin       : auto;
$app-margin-bottom: 30px;

// footer
$footer-font-size : 12px;
$footer-height    : 65px;

// header
$header-height    : 70px;
$header-padding   : 0;

// home
$home-menu-display: inline-block;

//
