// app
$app-margin       : 10px;
$app-margin-bottom: 30px;

// footer
$footer-font-size : 10px;
$footer-height    : 45px;

// header
$header-height    : 45px;
$header-padding   : 10px 5px 10px 10px;

// home
$home-menu-display: inline-grid;

//
