// app
$app-margin                        : 10px;
$app-margin-bottom                 : 30px;
$app-margin-top                    : 45px;
$app-min-height                    : auto;
$app-content-margin                : $app-margin-top 0 $app-margin-bottom;
$app-content-padding               : 0 20px;

$app-col-left-display              : none;
$app-col-right-display             : none;

$app-pro-menu-display              : none;
$app-sys-menu-display              : none;

$app-mobile-menu-display           : inline-block;

$app-footer-height                 : auto;

// footer
$footer-border-top                 : none;
$footer-font-size                  : 10px;
$footer-height                     : 40px;
$footer-links-display              : none;
$footer-copyright-float            : none;

$footer-mobile-links-display       : block;

// header
$header-height                     : $app-margin-top;
$header-padding                    : 5px;
$header-logo-margin                : 10px 0 0 10px;
$header-menu-display               : none;
$header-search-input-div-width     : auto;
$header-search-input-width         : 260px;
$header-search-icon-top            : 5px;
$header-mobile-menu-trigger-display: inline-block;

// home

//nav menu
$nav-menu-display                  : inline-grid;
$nav-menu-item-margin              : 0 0 20px;
$nav-menu-side-display             : none;

// site map
$site-map-margin                   : 0 10px;

$site-map-link-height              : 38px;

//
