// app
$app-content-margin                : $header-height auto $app-margin-bottom;
$app-content-padding               : 0;

// footer
$footer-border-top                 : 3px solid #666666;

$footer-links-display              : inline-flex;
$footer-copyright-float            : right;

$footer-mobile-links-display       : none;

// header
$header-logo-height                : 36px;
$header-logo-width                 : 149px;
$header-logo-background            : $header-logo-background-url no-repeat 0 0/#{$header-logo-width} #{$header-logo-height};
$header-logo-margin                : 20px 0;

$header-menu-border                : $header-border;
$header-menu-color                 : #333333;
$header-menu-display               : inline-block;
$header-menu-hover-color           : #d01126;

$header-search-input-div-width     : $max-width;
$header-search-input-width         : 440px;

$header-search-icon-top            : -5px;

$header-mobile-menu-trigger-display: none;

// site-map
$site-map-margin                   : 0;

$site-map-link-height              : 50px;

//
