// app
$app-margin: 10px;
$app-margin-bottom: 30px;
$app-margin-top: 45px;
$app-min-height: auto;

$app-content-display: inline-block;
@mixin app-content-scss() {
    //
    @include abs-position($app-margin-top, 0, $app-mobile-content-bottom, 0);
    padding-top: $vgap_;
    //
    @media only screen and (max-width: 700px) {
        bottom: $app-mobile-content-bottom-700;
    }
    @media only screen and (max-width: 600px) {
        bottom: $app-mobile-content-bottom-600;
    }
    @media only screen and (max-width: 500px) {
        bottom: $app-mobile-content-bottom-500;
    }
    @media only screen and (max-width: 400px) {
        bottom: $app-mobile-content-bottom-400;
    }
}

$app-col-left-display: none;
$app-col-right-display: none;

$app-menu-display: none;

$app-pro-menu-div-display: none;

$app-mobile-menu-display: inline-grid;

$app-footer-height: auto;

// footer
$footer-border-top: none;
$footer-font-size: 10px;
$footer-height: 40px;
$footer-links-display: none;
$footer-copyright-float: none;

$footer-mobile-links-display: block;

// header
$header-height: $app-margin-top;
$header-min-width: unset;
$header-padding-top: 5px;
$header-padding: $header-padding-top 0 0 0;

$header-logo-backround-width: 95px;
$header-logo-background: $header-logo-background-url no-repeat left 10px center/$header-logo-backround-width 25px;
$header-logo-margin: 10px 0 0 10px;

$header-menu-border: none;
$header-menu-color: $white;
$header-menu-display: none;
$header-menu-hover-color: $white;

$header-main-menu-display: none;

$header-search-input-div-width: auto;
$header-search-input-width: 260px;
$header-search-icon-top: 5px;

$header-mobile-menu-trigger-display: inline-block;

// mennu
$menu-hover-color: $white;

// nav menu
$nav-menu-display: inline-grid;
$nav-menu-item-margin: 0 0 20px;
$nav-menu-side-display: none;

// section header
$section-header-logo-background: $section-header-logo-background-url no-repeat right 20px center/$header-logo-backround-width 36px;

// site map
$site-map-margin: 0 10px;

$site-map-link-height: 38px;

//
.col-left {
    border-right: none;
}

.col-right {
    border-left: none;
}

.content-div {
    margin   : $app-margin;
    max-width: $max-width;
}

.col-center {
    height   : 100%;
    min-width: unset;
    width    : auto;
}
