// app
@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

$red: #d01126;
$navy: #212d62;
$lt-blue: #61add3;
$white: #ffffff;
$black: #000000;

$lt-blue_: #dfeff6;
$yellow: #fcfced;
$grey1: #f1f1f1;
$grey2: #e3e3e3;
$grey3: #cccccc;
$grey4: #bbbbbb;
$grey45: #959595;
$grey5: #666666;
$grey6: #555555;
$grey7: #3A3B3B;

$hgap: 40px;
$hgap_: 20px;
$vgap: 40px;
$vgap_: 20px;
$content-width: 1024px;

$footer-border-top: 3px solid $grey5;

// basic text
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 24px;
$font-weight-bold: 700;
$font-weight-lite: 300;
$font-weight-regular: 400;
$line-height: 34px;
$color: $black;

// header (global navigation)
$header-font-size: 14px;
$header-color: $black;

// footer (link, copyright)
$footer-font-size: 12px;
$footer-color: $white;

// minimum text (global, search & sp copyright on header)
$min-font-size: 10px;
$min-color: $grey3;

* {
    box-sizing: border-box;
}

body,
html {
    font-family: $font-family;
    font-size  : $font-size;
    font-weight: 400;
    height     : 100%;
    margin     : 0;
    overflow   : hidden;
    padding    : 0;
    width      : 100%;

    p {
        font-size  : $font-size;
        font-weight: $font-weight-lite;
        line-height: $line-height;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color      : $black;
    font-family: $font-family;
    font-weight: 300;
    margin-top : 0;
}

h1 {
    font-size: 40px;

    &.title-photo {
        color    : $white;
        font-size: 28px;
        // Image (width): browser width
        // Image(height): 240pxinheight
    }

    &.title {
        font-size: 22px;
        margin   : 40px 0;
    }
}

h2 {
    font-size: 36px;

    &.title {
        font-size: 22px;
        margin   : 20px 0;
    }
}

h3 {
    font-size: 32px;

    &.title {
        font-size: 16px;
        margin   : 20px 0;
    }
}

input[type="email"],
input[type="email"]:not([readonly]),
input[type="password"],
input[type="password"]:not([readonly]),
input[type="text"],
input[type="text"]:not([readonly]),
select,
textarea {
    background   : none;
    color        : $black;
    border       : 1px solid $grey4;
    font-size    : 14px;
    height       : 45px;
    padding-left : 10px;
    padding-right: 10px;
    transition   : none;
}

ul.links {
    @extend .list-style-none;
    display: inline-block;
    margin : 0;
    padding: 0;
}

div {
    &.hrule {
        border-top: 1px solid $grey3;
        margin    : $vgap 0;
    }
}

.link {
    color      : $black;
    cursor     : pointer;
    font-size  : $font-size;
    font-weight: $font-weight-regular;
    line-height: $line-height;

    * {
        cursor: pointer;
    }

    &:hover {
        color: $red;
    }

    &.underline {
        text-decoration: underline;
    }
}

.date-link {
    color    : $black;
    font-size: 14px;

    .date {
        font-weight: bold;
    }
}

.anchor-link {
    @extend .link;
    margin: 0 20px;
}

.footer-link {
    color    : $white;
    font-size: 12px;
    margin   : 0 10px;
}

.disabled {
    opacity       : .3;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.section {
    display: inline-block;
}

// common
$border: 1px solid $grey3;
$max-width: $content-width;

$autowalks: #45A798;
$dispatch: #99B129;
$elevators: #D01126;
$escalators: #006086;

// app
$reference-color: $red;
$reference-font-size: 16px;
$reference-width: 200px;

$app-menu-header-color: $grey7;
$app-menu-header-font-size: 24px;

$app-menu-padding: 20px 0;

$app-content-padding: 20px;

$app-content-menu-background-color: #f1f1f1;
$app-content-menu-font-size: 18px;
$app-content-menu-height: 32px;
$app-content-menu-padding: 0 $hgap;

$app-content-menu-item-margin: 0 $hgap_ 0 0;

$app-pro-menu-border: 2px solid $white;
$app-pro-menu-color: $white;
$app-pro-menu-height: 100px;
$app-pro-menu-width: 210px;
$app-pro-menu-consulting-background: url('../../assets/img/consultants.png');
$app-pro-menu-contractors-background: url('../../assets/img/Architects_GCs.png');
$app-pro-menu-property-background: url('../../assets/img/ProjMGMTCos.png');

$app-pro-menu-title-font-size: 26px;
$app-pro-menu-title-line-height: 32px;
$app-pro-menu-title-width: 200px;
$app-pro-menu-label-font-size: 14px;

$app-mobile-content-bottom: 470px;
$app-mobile-content-bottom-700: 400px;
$app-mobile-content-bottom-600: 360px;
$app-mobile-content-bottom-500: 320px;
$app-mobile-content-bottom-400: 270px;

$app-mobile-menu-height: 320px;
$app-mobile-menu-height-700: 260px;
$app-mobile-menu-height-600: 220px;
$app-mobile-menu-height-500: 180px;
$app-mobile-menu-height-400: 130px;

// about
$about-background: url('../../assets/img/about_bg.jpg') no-repeat;
$about-background2: url('../../assets/img/about_2_bg.jpg') no-repeat;
$about-text-background-color: rgba(255,255,255,0.7);

// autowalks
$autowalks-section-image-content: url('../../assets/img/Fujitec-Elevator-Product-Map.png');

$autowalks-typef-section-image-content: url('../../assets/img/remotemonitoringtab.jpg');
$autowalks-typep-section-image-content: url('../../assets/img/remotemonitoringtab.jpg');
$autowalks-types-section-image-content: url('../../assets/img/remotemonitoringtab.jpg');

// contact
$contact-form-max-width: 780px;

$contact-form-field-background-color: $grey1;
$contact-form-field-border: 1px solid $grey7;
$contact-form-field-box-shadow: 0 0 2px 2px $grey4;
$contact-form-field-font-size: 20px;
$contact-form-field-padding: 7px $hgap_;

$contact-button-background-color: $dispatch;
$contact-button-border-radius: 10px;
$contact-button-color: $white;
$contact-button-padding: 8px 16px;

// dispatch
$dispatch-ezshuttle-section-image-content: url('../../assets/img/ez_shuttle_tab.jpg');
$dispatch-flexnx-section-image-content: url('../../assets/img/flex_nx_tab.jpg');

$dispatch-image-height: 512px;
$dispatch-image-width: 660px;
$dispatch-flexnx-102-background: url('../../assets/img/flex_nx_102.png');
$dispatch-flexnx-252-background: url('../../assets/img/flex_nx_252.png');

$dispatch-ezshuttle-background: url('../../assets/img/ez_shuttle.png');

$dispatch-performances-image-height: 384px;
$dispatch-performances-image-width: 495px;
$dispatch-performances-time-background: url('../../assets/img/ez_shuttle_time_to.png');
$dispatch-performances-wait-background: url('../../assets/img/ez_shuttle_wait.png');

// elevators
$elevators-section-image-content: url('../../assets/img/Fujitec-Elevator-Product-Map.png');

$elevators-breakdown-image-content: url('../../assets/img/Fujitec-Elevator-Product-Map.png');
$elevators-ionful-section-image-content: url('../../assets/img/ionful.jpg');
$elevators-monitoring-section-image-content: url('../../assets/img/remotemonitoringtab.jpg');
$elevators-system-geared-image-content: url('../../assets/img/geared.jpg');
$elevators-system-gearless-image-content: url('../../assets/img/gearless_2.jpg');
$elevators-system-hydraulic-image-content: url('../../assets/img/hydro.jpg');
$elevators-system-mrl-image-content: url('../../assets/img/Viridian-MRL-tab.jpg');

//  pmgl
$pmgl-label-background-color: rgba($elevators, 0.7);
$pmgl-label-color: $white;
$pmgl-label-font-size: 24px;
$pmgl-label-height: 60px;
$pmgl-label-width: 220px;

$pmgl-image-height: 250px;
$pmgl-image-width: 220px;

$pmgl-pm02-background: url('../../assets/img/pm_02.png');
$pmgl-pm03-background: url('../../assets/img/pm_03.png');
$pmgl-pm04-background: url('../../assets/img/pm_04.png');
$pmgl-fm450-background: url('../../assets/img/fm_450.png');

// escalators
$escalators-section-image-content: url('../../assets/img/remotemonitoringtab.jpg');

$escalators-typef-section-image-content: url('../../assets/img/escalator_4.jpg');
$escalators-typep-section-image-content: url('../../assets/img/type_p_escalator.jpg');
$escalators-types-section-image-content: url('../../assets/img/escalator_1.jpg');

// footer
$footer-background-color: $red;
$footer-color: $white;
$footer-max-width: $max-width;

$footer-menu-hover-color: $grey3;

$footer-mobile-menu-item-background-color: $grey5;
$footer-mobile-menu-item-border-top: 1px solid $white;
$footer-mobile-menu-item-active-color: $grey3;
$footer-mobile-menu-item-height: 30px;

// header
$header-background-color: $white;
$header-border: none;
$header-font-size: 20px;
$header-max-width: $max-width;

$header-logo-background-url: url('../../assets/img/logo.png');
$header-logo-padding: 0 40px 0 0;

$header-main-menu-link-font-size: 20px;
$header-main-menu-link-margin: 0 20px;

$header-main-menu-submenu-link-font-size: 16px;

$header-side-menu-font-size: 16px;
$header-side-menu-margin: 10px 0 20px;
$header-side-menu-padding: 0 0 0 40px;
$header-side-menu-link-font-size: 16px;
$header-side-menu-link-margin: 0 8px;

$header-search-background-color: $black;
$header-search-height: 80px;
$header-search-opacity: 0;
$header-search-padding: 20px 0;

$header-search-icon-background-color: $red;
$header-search-icon-color: $white;
$header-search-icon-font-size: 30px;
$header-search-icon-size: 40px;

$header-search-input-height: 40px;

$header-mobile-menu-trigger-font-size: 10px;
$header-mobile-menu-trigger-width: 40px;
$header-mobile-menu-trigger-line-height: 3px;
$header-mobile-menu-trigger-line-width: 22px;

$header-mobile-menu-background-color: rgba(0,0,0,0.3);
$header-mobile-menu-trigger-color: $black;
$header-mobile-menu-trigger-open-color: $red;
$header-mobile-menu-item-background: url('../../assets/img/icon_arrow_sp_white.png') no-repeat right 10px center $black;
$header-mobile-menu-item-border-bottom: $border;
$header-mobile-menu-item-color: $white;
$header-mobile-menu-item-arrow-color: $grey3;
$header-mobile-menu-item-close-background: url('../../assets/img/icon_spmenuclose.png') no-repeat right 10px center $grey5;
$header-mobile-menu-item-close-color: $white;
$header-mobile-menu-item-height: 45px;

$header-mobile-menu-item-close-height: 45px;

// home
$home-slides-box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.3);
$home-slides-transition-duration: 1s;

// locations
$locations-background: url('../../assets/img/locations_bg.jpg') no-repeat;
$locations-map-background: url('../../assets/img/locations-map.png') no-repeat;
$locations-map-max-height: 750px;
$locations-map-max-width: 860px;

$locations-map-marker-height: 30px;
$locations-map-marker-width: 30px;

$locations-list-width: 320px;

$locations-item-border: 1px solid $white;
$locations-item-color: $white;
$locations-item-padding: 2px 0 2px $hgap;

$location-info-color: $white;
$location-info-font-size: 18px;

// login
$login-modal-height: 270px;
$login-modal-width: 400px;

// menu
$menu-background-color: $white;
$menu-border: $border;
$menu-color: $grey7;
$menu-item-background: url('../../assets/img/icon_arrow_common.png') no-repeat left 8px center/10px 16px;
$menu-item-font-size: 14px;
$menu-item-font-size_: 12px;
$menu-item-height: 40px;
$menu-item-padding: 0 10px 0 30px;

$menu-submenu-background-color: $grey1;
$menu-submenu-item-background: url('../../assets/img/icon_arrow_common.png') no-repeat left 30px center;

$side-menu-item-background: url('../../assets/img/icon_arrow_common.png') no-repeat left 8px center/6px 10px;

// modal (clr)
clr-modal {
    .modal {
        .modal-backdrop {
            background-color: rgba(0,0,0,0.25);
        }
    }
}

// nav menu
$nav-menu-border: none;
$nav-menu-item-arrow-color: $red;

$nav-menu-item-label-height: 40px;
$nav-menu-item-label-width: 100%;
$nav-menu-item-label-font-size: $menu-item-font-size;

$_W: 708;
$_H: 333;
$_R: ($_W / $_H);
$nav-menu-sys-bakground-width: 230px;
$nav-menu-sys-bakground-height: floor( $nav-menu-sys-bakground-width / $_R);
$nav-menu-sys-height: $nav-menu-sys-bakground-height + $nav-menu-item-label-height;
$nav-menu-sys-width: $nav-menu-sys-bakground-width;
$nav-menu-autowalks-background: url('../../assets/img/autowalkopt2.png') no-repeat;
$nav-menu-elevators-background: url('../../assets/img/elevatoropt2.png') no-repeat;
$nav-menu-escalators-background: url('../../assets/img/escalatoropt2.png') no-repeat;
$nav-menu-ezdispatch-background: url('../../assets/img/ezshuttleopt2.png') no-repeat;

$_w: 417;
$_h: 200;
$_r: ($_w / $_h);
$nav-side-menu-item-label-font-size: $menu-item-font-size_;
$nav-side-menu-item-label-height: 17px;
$nav-side-menu-sys-bakground-width: 148px;
$nav-side-menu-sys-bakground-height: floor( $nav-side-menu-sys-bakground-width / $_r);
$nav-side-menu-sys-height: $nav-side-menu-sys-bakground-height + $nav-side-menu-item-label-height;
$nav-side-menu-sys-width: $nav-side-menu-sys-bakground-width;
$nav-side-menu-autowalks-background: url('../../assets/img/autowalk_side.png') no-repeat;
$nav-side-menu-elevators-background: url('../../assets/img/elevator_side.png') no-repeat;
$nav-side-menu-escalators-background: url('../../assets/img/escalator_side.png') no-repeat;
$nav-side-menu-ezdispatch-background: url('../../assets/img/ez_shuttle_side.png') no-repeat;

$nav-menu-pro-bakground-height: 91px;
$nav-menu-pro-bakground-width: 193px;
$nav-menu-pro-height: $nav-menu-pro-bakground-height + $nav-menu-item-label-height;
$nav-menu-pro-width: $nav-menu-pro-bakground-width;
$nav-menu-architects-background: url('../../assets/img/Architects_GCs.png') no-repeat;
$nav-menu-consultants-background: url('../../assets/img/consultants.png') no-repeat;
$nav-menu-property-managers-background: url('../../assets/img/ProjMGMTCos.png') no-repeat;

$nav-menu-side-item-icon-background-height: 50px;
$nav-menu-side-item-icon-background-width: 100px;
$nav-menu-side-item-icon-height: $nav-menu-side-item-icon-background-height;
$nav-menu-side-item-icon-width: 80px;
$nav-menu-side-item-icon-position-x: -#{($nav-menu-side-item-icon-background-width - $nav-menu-side-item-icon-width) / 2};

$nav-menu-mobile-item-margin: 0 10px;
$nav-menu-mobile-item-icon-border-radius: 0;
$nav-menu-mobile-item-icon-height: 150px;
$nav-menu-mobile-item-icon-width: 150px;
$nav-menu-mobile-item-label-color: $white;
$nav-menu-mobile-item-label-font-size: 22px;

$nav-menu-mobile-background-ratio: $_r;
$nav-menu-mobile-architects-background: $nav-menu-architects-background center;
$nav-menu-mobile-autowalks-background: $nav-menu-autowalks-background center;
$nav-menu-mobile-consultants-background: $nav-menu-consultants-background center;
$nav-menu-mobile-elevators-background: $nav-menu-elevators-background center;
$nav-menu-mobile-escalators-background: $nav-menu-escalators-background center;
$nav-menu-mobile-ezdispatch-background: $nav-menu-ezdispatch-background center;
$nav-menu-mobile-property-managers-background: $nav-menu-property-managers-background center;

$nav-menu-mobile-item-icon-height-700: 120px;
$nav-menu-mobile-item-icon-width-700: 120px;
$nav-menu-mobile-item-label-font-size-700: 16px;

$nav-menu-mobile-item-icon-height-600: 100px;
$nav-menu-mobile-item-icon-width-600: 100px;
$nav-menu-mobile-item-label-font-size-600: 14px;

$nav-menu-mobile-item-icon-height-500: 80px;
$nav-menu-mobile-item-icon-width-500: 80px;
$nav-menu-mobile-item-label-font-size-500: 12px;

$nav-menu-mobile-item-icon-height-400: 60px;
$nav-menu-mobile-item-icon-width-400: 60px;
$nav-menu-mobile-item-label-font-size-400: 10px;

// projects
$project-color: $white;
$project-font-size: 14px;
$project-height: 320px;
$project-margin: 1px;
$project-max-per-line: 4;
$project-width: 254px;

$project-name-background: rgba(0,0,0,0.7);
$project-name-padding: 15px 0;

$project-info-padding: 20px;

$project-info-title-background: url('../../assets/img/icon_arrow_common.png') no-repeat left 0;
$project-info-title-border: 1px solid $white;
$project-info-title-margin: 0 0 15px 0;
$project-info-title-padding: 0 0 15px 0;

$project-info-description-line-height: 24.5px;
$project-info-description-margin: 0 0 15px 0;

$project-info-category-background: $grey6;
$project-info-category-margin: 0 0 1px 1px;
$project-info-category-padding: 5px 10px;

// project info modal
$project-info-slick-dot-color: #cccccc;
$project-info-slick-dot-active-color: #ffffff;

// $project-info-image-height: 570;
// $project-info-image-width: 830;
// $project-info-image-r: $project-info-image-width / $project-info-image-height;

// %project-info-scss {
//     .modal-dialog {
//         .modal-body {
//             .images-div {}
//         }
//     }
// }

// %project-info-scss-1000 {
//     @media only screen and (max-width: 1023px) {
//         .modal-dialog {
//             .modal-body {
//                 .images-div {
//                     height: #{$project-info-image-height}px;
//                     width : #{$project-info-image-width}px;
//                 }
//             }
//         }
//     }
// }

// %project-info-scss-700 {
//     @media only screen and (max-width: 700px) {
//         .modal-dialog {
//             .modal-body {
//                 .images-div {
//                     height: #{$project-info-image-height}px;
//                     width : #{$project-info-image-width}px;
//                 }
//             }
//         }
//     }
// }

// scroll to top
$scroll-to-top-background: url('/assets/img/back_to_top.png') no-repeat;
$scroll-to-top-height: 70px;
$scroll-to-top-margin: 0 10px 0 0;
$scroll-to-top-width: 70px;

// section header
$section-header-bg-about: url('/assets/img/about_main.jpg');
$section-header-bg-autowalks: url('/assets/img/autowalktab.jpg');
$section-header-bg-dispatch: url('/assets/img/controldispatchtab.jpg');
$section-header-bg-elevators: url('/assets/img/elevator.jpg');
$section-header-bg-escalators: url('/assets/img/escalatortab.jpg');
$section-header-bg-installation: url('/assets/img/installationtab.jpg');
$section-header-bg-ionful: url('/assets/img/ionful.jpg');
$section-header-bg-modernization: url('/assets/img/dougmodernization.jpg');
$section-header-bg-monitoring: url('/assets/img/remotemonitoringtab.jpg');
$section-header-bg-portfolio: url('/assets/img/projectstab.jpg');
$section-header-bg-service-maintenance: url('/assets/img/maintenancerepairguy.jpg');
$section-header-bg-support: url('/assets/img/aftermarket_support.jpg');

$seciton-header-bg-max-height: 430px;
$section-header-menu-color: $white;
$section-header-menu-font-size: 40px;
$section-header-menu-height: 100px;
$section-header-menu-line-height: 36px;
$section-header-menu-toggle-background: url('../../assets/img/icon_arrow_common.png') no-repeat;

$section-header-menu-background-opacity: .7;
$section-header-menu-background-color: rgba($red, $section-header-menu-background-opacity);
$section-header-menu-autowalks-background-color: rgba($autowalks, $section-header-menu-background-opacity);
$section-header-menu-dispatch-background-color: rgba($dispatch, $section-header-menu-background-opacity);
$section-header-menu-elevators-background-color: rgba($elevators, $section-header-menu-background-opacity);
$section-header-menu-escalators-background-color: rgba($escalators, $section-header-menu-background-opacity);

$section-header-menu-items-font-size: 20px;
$section-header-menu-item-border: 1px solid $section-header-menu-color;

// service & maintenance
$service-maintenance-current-image-content: url('../../assets/img/maintenancerepairguy.jpg');
$service-maintenance-why-image-content: url('../../assets/img/maintenancerepairguy.jpg');
$service-maintenance-routes-image-content: url('../../assets/img/maintenancerepairguy.jpg');

// site-map
$site-map-links-border: $border;
$site-map-links-margin: 0 0 $vgap_ 0;
$site-map-link-background: url('../../assets/img/icon_arrow_common.png') no-repeat right 10px center $white;
$site-map-link-hover-background-color: $grey1;
$site-map-link-hover-color: $red;

// video
$video-background-color: $black;

//
.border-bottom {
    @include border( 'bottom', $border);
}

.border-left {
    @include border( 'left', $border);
}

.border-right {
    @include border( 'right', $border);
}

.border-top {
    @include border( 'top', $border);
}

.content-menu {
    background-color: $app-content-menu-background-color;
    display         : flex;
    height          : $app-content-menu-height;
    padding-left    : 20px;

    .link {
        font-size  : $app-content-menu-font-size;
        height     : $app-content-menu-height;
        line-height: $app-content-menu-height;
    }
}

//
.modal {
    & > * {
        color: $white;
    }

    .modal-dialog {
        .modal-outer-wrapper {
            .modal-content-wrapper {
                .modal-content {
                    background-color: rgba(0,0,0,0.8);

                    // .modal-header {}

                    // .modal-body {}

                    .modal-footer {
                        .btn {
                            background-color: $white;
                            border          : none;
                            border-radius   : 0;
                            color           : $black;
                            margin          : 0 auto;
                            text-transform  : none;
                        }
                    }
                }
            }
        }
    }
}

.modal-backdrop {
    background-color: rgba(255,255,255,0.001);
}

.phone {
    background     : url('../../assets/img/phone.png') no-repeat;
    background-size: 29px 22px;
    height         : 22px;
    margin         : $vgap_ auto;
    padding-left   : 35px;

    a {
        color      : $grey7;
        font-size  : $app-menu-header-font-size;
        line-height: 22px;

        &:hover {
            color          : $grey7;
            text-decoration: none;
        }
    }
}

.section {
    margin    : $vgap_ auto 0;
    max-width : $content-width;
    text-align: center;
    width     : 100%;

    &:last-of-type {
        margin-bottom: $vgap_;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: $vgap_;
    }

    ol,
    ul {
        margin-left: $hgap;

        li {
            font-size  : $font-size;
            font-weight: $font-weight-lite;
            line-height: $line-height;
        }
    }

    .subsection {
        margin: $vgap_ 0 $vgap_ $hgap;
    }
}

.section-header {
    display   : inline-flex;
    height    : $section-header-menu-height;
    margin-top: $vgap;
    padding   : $vgap_ $hgap;
    width     : 100%;

    & > * {
        color         : $section-header-menu-color;
        text-transform: uppercase;
    }

    &.autowalks {
        background-color: $section-header-menu-autowalks-background-color;
    }

    &.dispatch {
        background-color: $section-header-menu-dispatch-background-color;
    }

    &.elevators {
        background-color: $section-header-menu-elevators-background-color;
    }

    &.escalators {
        background-color: $section-header-menu-escalators-background-color;
    }

    &.about,
    &.installation,
    &.ionful,
    &.modernization,
    &.portfolio,
    &.service-maintenance,
    &.support {
        background-color: $section-header-menu-background-color;
    }
}

.section-image {
    img {
        width: 100%;
    }
}

//
@mixin modal-scss($showHeader:false) {
    clr-modal {
        .modal-dialog {
            &.modal-lg {
                height   : 95%;
                max-width: 1030px;
                width    : 95%;
            }

            .modal-outer-wrapper {
                .modal-content-wrapper {
                    height: 100%;

                    .modal-content {
                        height  : 100%;
                        position: relative;

                        .modal-header {
                            * {
                                color      : $white;
                                font-family: $font-family;
                            }
                            @if $showHeader==false {
                                display: none;
                            }
                        }

                        .modal-body {
                            @include abs-position(24px, 24px, 90px, 24px);
                            max-height: unset;
                            overflow  : hidden;
                            padding   : 40px 0 0;

                            .info-div {
                                margin   : 0 auto;
                                max-width: 830px;
                                width    : 100%;
                            }

                            .images-div {
                                height: 60%;

                                .slick-list {
                                    height: 100%;
                                }

                                .slick-dots {
                                    bottom: 10px;

                                    li {
                                        button:before {
                                            color: $project-info-slick-dot-color;
                                        }

                                        &.slick-active button:before {
                                            color: $project-info-slick-dot-active-color;
                                        }
                                    }
                                }

                                img {
                                    height: 100%;
                                    width : 100%;
                                }
                            }

                            .details-div {
                                height  : 40%;
                                position: relative;

                                form {
                                    @include abs-position(0, 0, unset, 0);
                                    border-bottom: 1px solid $white;
                                    margin-bottom: $hgap_;

                                    .form-group {
                                        margin-bottom: 0;

                                        & > label:first-child {
                                            color: $white;
                                        }
                                    }
                                }

                                .description-div {
                                    @include abs-position(130px, 0, 0, 0);
                                    overflow: auto;
                                }
                            }
                            @media only screen and (max-width: 544px) {
                                .details-div,
                                .images-div {
                                    height: 50%;
                                }

                                .details-div {
                                    .form-group {
                                        margin-bottom: $vgap_;
                                        width        : 100%;

                                        label,
                                        span {
                                            display: inline-block;
                                            flex   : unset;
                                            margin : 0;
                                            top    : 0;
                                            width  : 50%;
                                        }
                                    }
                                }
                            }
                        }

                        .modal-footer {
                            @include abs-position(unset, 0, $vgap_, 0);
                        }
                    }
                }
            }
        }
    }
}
