// app
$app-margin: auto;
$app-margin-bottom: 110px;
$app-margin-top: 70px;
$app-min-height: $nav-menu-side-item-icon-height * 4;
$app-max-widths: 1632px, 1545px, 1458px, 1371px, 1284px;

$app-content-display: inline-flex;
@mixin app-content-scss() {
    margin   : 0 auto;
    min-width: $col-side-width + $col-center-min-width + $col-side-width;

    &.home {
        bottom  : $app-footer-height;
        overflow: auto;
    }
}

$app-col-left-display: block;
$app-col-right-display: block;

$app-menu-display: inline-block;

$app-pro-menu-div-display: block;

$app-mobile-menu-display: none;

$app-footer-height: 40px;

// footer
$footer-font-size: 12px;
$footer-height: $app-footer-height;
$footer-links-display: inline-flex;
$footer-copyright-float: right;

$footer-mobile-links-display: none;

// header
$header-height: 95px;
$header-min-width: $col-side-width + $col-center-min-width + $col-side-width;

$header-logo-backround-width: 149px;
$header-logo-background: $header-logo-background-url no-repeat right 20px center/$header-logo-backround-width 36px;
$header-logo-margin: 20px 0 20px 10px;

$header-menu-border: $header-border;
$header-menu-color: $grey7;
$header-menu-display: inline-block;
$header-menu-hover-color: $red;

$header-main-menu-display: inline-flex;

$header-search-input-div-width: $max-width;
$header-search-input-width: 440px;
$header-search-icon-top: -5px;

$header-mobile-menu-trigger-display: none;

// mennu
$menu-hover-color: $red;

// nav menu
.nav-menu-item {
    @include drop-shadow(0, 0, 5px, 1px, rgba(0, 0, 0, 0.3));
}
$nav-menu-display: inline-block;
$nav-menu-item-margin: 0 20px 0 0;
$nav-menu-side-display: inline-grid;

// section header
$section-header-logo-background: $section-header-logo-background-url no-repeat right 20px center/$header-logo-backround-width 36px;

// site map
$site-map-margin: 0;

$site-map-link-height: 50px;

html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

.content-div {
    bottom     : 0;
    margin     : $app-margin;
    overflow   : auto;
    padding-top: 570px;
    position   : absolute;
    top        : 0;

    &.no-header {
        padding-top: 0;

        .section {
            padding: 0 $hgap;
        }
    }

    & > div {
        display: flex;
    }

    &.static-content-div {
        height: auto;
    }

    .col-center {
        padding: $vgap 0;

        .section-header {
            padding: 0 $hgap;
            width  : 100%;
        }
    }
}
